server {
    listen 80;

    server_name {{ instance_dns_subdomain }}.{{ instance_dns_zone }};

    location / {
        proxy_pass http://localhost:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 443 ssl;
    server_name {{ instance_dns_subdomain }}.{{ instance_dns_zone }};

    ssl_certificate /etc/letsencrypt/live/{{ instance_dns_subdomain }}.{{ instance_dns_zone }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ instance_dns_subdomain }}.{{ instance_dns_zone }}/privkey.pem;

    location / {
        proxy_pass http://localhost:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}